@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  @apply dark;
}

.dark {
  --background: #120b1e;
  --foreground: #ffffff;
}

body {
  @apply bg-background text-foreground;
}

body.dark {
  @apply bg-darkBackground text-darkForeground;
}
